h1,
h1+button {
    margin: 0 0.5rem 0.5em;
}

.actions {
    vertical-align: top;

    &>* {
        margin: 0;
    }

    details {
        width: 4.5em;
    }
}

// To stop inline videos inside feed entry description from overflowing
document {
    video {
        max-width: 100%;
    }
}
